<launch>
  
    <!--run gazebo-->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_stage_1.launch" />

    <!--run teleop key-->
    <!--include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch" /-->

    <!--run rviz-->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_gazebo_rviz.launch" />

    <!--run walker node-->
    <node name="ex_2" pkg="exercises" type="exercise_2.py" output="screen" />

</launch>